*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    /* position: relative; */
    background-color: #EEDB1C;
    height: 100px;
    width: 100vw;
}

nav{
    position: absolute;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    top: 45px;
}

.imgheader{
    position: absolute;
    left: 6vw;
    top: 25px;
    width: 50px;
    height: 55px;
}


.img1{
    /* height: 597px;
    width: 100vw;
    opacity: 0.2; */
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main section:first-child{
    /* position: relative; */
    height: 75vh;
}

main section:first-child img{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 75vh;
}

main section:first-child div{
    background-color: black;
    opacity: 0.6;
    width: 100vw;
    height: 75vh;
}

main section:first-child h1{
    position: absolute;
    top: 40%;
    left: 42%;
    color: black;
    font-size: 50px;
    z-index: 3;
    width: 300px;
    text-align: center;
}

main section:nth-child(2), main section:nth-child(6){
    min-height: 300px;
    width: 85vw;
    align-self: center;
    padding-top: 20px;
}

main section:nth-child(2) section, main section:nth-child(6) section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

#tarjeta{
    background-color: #00497EE3; 
    width: 20vw;
    height: 23vh;
    border-radius: 5%;
    margin: 30px;
    padding: 20px;
    color: white;
}

.tarjeta1{
    width: 30px;
    height: 30px;
}

main section:nth-child(3) {
    min-height: 500px;
    width: 85vw;
    align-self: center;
    padding-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

main section:nth-child(3) img{
    position: absolute;
    z-index: 2;
}

main section:nth-child(3) article{
    position: absolute;
    z-index: 1;
    background-color: #00497EE3;
    color: white;
    padding-left: 32vw;
    margin-left: 4px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
}

main section:nth-child(3) article p {
    font-size: 25px;
}

main section:nth-child(3) article h2{
    position: absolute;
    left: 615px;
    top: 10%;
    font-size: 30px;
    justify-self: start;
}

main section:nth-child(4) {
    min-height: 300px;
    width: 85vw;
    align-self: center;
    padding-top: 20px;
}

main section:nth-child(4) article{
    display: flex;
    align-items: center;
    flex-direction: column;
}

main section:nth-child(4) iframe {
    height: 500px;
    border-radius: 20px;
}

main section:nth-child(4) section article a {
    background-color: #00497EE3;
    padding: 50px;
    margin: 30px;
    color: white;
    border-radius: 20px;
    min-width: 600px;
}

main section:nth-child(4) section{
    display: flex;
    align-items: center;
}

main section:nth-child(5) {
    min-height: 300px;
    width: 85vw;
    align-self: center;
    padding-top: 60px;
    position: relative;
}

main section:nth-child(5) article{
    position: absolute;
    z-index: 1;
    background-color: #00497EE3;
    color: white;
    padding-right: 43vw;
    margin-left: 4px;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;   
    width: 90%;
}

main section:nth-child(5) img{
    position: absolute;
    z-index: 2;
    right: 0;
    top: 20px;
}

main section:nth-child(5) article p {
    font-size: 20px;
    padding-left: 20px;
}

main section:nth-child(5) article h2{
    position: absolute;
    left: 20px;
    top: 10%;
    font-size: 30px;
    justify-self: start;
}

main section:nth-child(6){
    margin-top: 50px;
}

footer{
    background-color: #EEDB1C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    width: 100vw;
    height: 30vh;
}

footer article img{
    height: 110px;
    width: 100px;
}

footer article{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

footer article a {
    text-decoration: none;
    color: black;
}